<?xml version="1.0"?>

<model>
  <name>latty_chassis</name>
  <version>1.0</version>
  <sdf>latty_model.sdf</sdf>

  <author>
    <name>Pranay Tummalapalli</name>
    <email>pranay.tummalapalli@gmail.com</email>
  </author>

  <description>
    A generic 2 Wheeled robot with a front castor.
  </description>
</model>